@model CETWebProject.Data.Entities.WaterMeter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h3>Readings</h3>
    <p>
        <a asp-action="AddReading" asp-route-id="@Model.Id">Add a new reading</a>
    </p>
    @{
        Html.RenderPartial("_ReadingList", Model.Readings);
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
