@model CETWebProject.Data.Entities.Reading

@{
    ViewData["Title"] = "AddReading";
}




<h4>Edit Reading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditReading">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="WaterMeter" />
                <input type="hidden" asp-for="ReadingTime"/>

                <label asp-for="UsageAmount" class="control-label"></label>
                <input asp-for="UsageAmount" class="form-control"/>
                <span asp-validation-for="UsageAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
