@model ICollection<CETWebProject.Data.Entities.WaterMeter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Watermeter ID</th>
            <th data-dt-order="disable">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.Id</p>
            </td>
            <td>
                <a asp-action="Readings" asp-route-id="@item.Id" class="btn btn-primary">Readings</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready( function () {
            $('.table').DataTable();
        } );
    </script>
}