@model IEnumerable<CETWebProject.Data.Entities.MeterTemp>

@{
    ViewData["Title"] = "MeterRequests";
}

<h1>MeterRequests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Request #
            </th>
            <th>
                User email
            </th>
            <th data-dt-order="disable">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <a asp-action="Deliver" asp-route-id="@item.Id" class="btn btn-success">Deliver Meter</a>
                    <a asp-action="Deny" asp-route-id="@item.Id" class="btn btn-danger">Deny Request</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
    {
    <script type="text/javascript">
        $(document).ready( function () {
            $('.table').DataTable();
        } );
    </script>
}
