@model CETWebProject.Data.Entities.WaterMeter

@{
    ViewData["Title"] = "Readings";
}

<h1>Readings</h1>


<div>
    <h3>Readings</h3>
    <p>
        @if (this.User.IsInRole("Employee") || this.User.IsInRole("Customer"))
        {
            <a asp-action="AddReading" asp-route-id="@Model.Id">Add a new reading</a>
        }
        
    </p>
    @{
        await Html.RenderPartialAsync("_ReadingList", Model.Readings);
    }
</div>
<div>
    @if (this.User.IsInRole("Employee"))
    {
    }
    <a asp-action="UserIndex">Back to Index</a>
</div>
