@model IEnumerable<CETWebProject.Data.Entities.Alert>
@{
    ViewData["Title"] = "Your Alerts";
}

<h2>User Center</h2>
<h3>Your alerts</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Alert
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <div class="container">
                        <h2>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                        <p>
                            @Html.Raw(item.Description)
                        </p>
                        <p>
                            <small>
                                Alert sent on @Html.DisplayFor(modelItem => item.Date) <!--To string-->
                            </small>
                        </p>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

