@model CETWebProject.Data.Entities.UserTemp

@{
    ViewData["Title"] = "Request a new account.";
}

<h2>
    Account Request result
</h2>

<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>
<div class="text-danger">
    <p>
        @ViewBag.Error
    </p>
</div>
